<header id="cabecalho">
    <div id="logo">
        Esporte ArLivre
    </div>

    <nav id="menu">
        <ul id="menu-ul">
            <li><a routerLink="/home" class="lnk-menu">Home</a></li>
            <li><a routerLink="/cadastroatleta" class="lnk-menu">Cadastrar Atleta</a></li>
            <li><a routerLink="/listaatleta" class="lnk-menu">Listar Atletas</a></li>
            <li><a routerLink="/cadastrocorrida" class="lnk-menu">Cadastrar Corrida</a></li>
            <li><a routerLink="/listacorrida" class="lnk-menu">Listar Corridas</a></li>
            <li><a routerLink="/inscricao" class="lnk-menu">Inscrição</a></li>
        </ul>
    </nav>
</header>