<header id="cabecalho">
    <div id="logo">
        Esporte ArLivre
    </div>

    <nav id="menu">
        <ul id="menu-ul">
            <li><a routerLink="/home" class="lnk-menu">Home</a></li>
            <li><a routerLink="/Cadastroatleta" class="lnk-menu">Cadastrar Atleta</a></li>
            <li><a href="/cadastra-corrida" class="lnk-menu">Cadastrar Corrida</a></li>

            <li><a href="#" class="lnk-menu">Listar Corrida</a></li>
            <li><a href="#" class="lnk-menu">Inscrição</a></li>
        </ul>
    </nav>
</header>
