@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Libertinus Math;
}

:root{
    --cor-primaria: ;
    --cor-secundaria: ;
    --branca: ;
    --cor-botao1: ;
    --cor-botao2: ;

}