@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Libertinus Math;
}

:root{
    --cor-primaria:#54d354 ;
    --cor-secundaria: ;
    --branca: #fff;
    --cor-botao1:#095003 ;
    --cor-botao2:#e9e063 ;

}